@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 1px solid red;
} 

:root {
    font-size: 15px;

    --txt-h: 5rem;
    --txt-sh: 3rem;
}

.centered {
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

/* --------- HEADER ---------- */

nav {
    justify-content: space-between;
    padding: 0 2rem;
}

#div-logo img {
    width: 80%;
}

#div-link {
    width: 40%;
    justify-content: space-between;
}

.nav-link {
    background-color: pink;
    justify-content: center;
    width: 8rem;
    height: 3rem;
}

.nav-link a {
    color: white;
    font-family: 'roboto', sans-serif;
    font-size: 1.5rem;
}


/* --------- MAIN--------- */

main {
    padding: 0 20%;
}

#second-sect {
    flex-direction: column;
}

#price-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}




